header {
    width: 980px;
    margin: auto;
}

.caixa {
    width: 800px;
    margin: auto;
    position: center;a {
46
  color: blue;
47
  font-size: 20px;
48
  text-decoration: none;
49
}
50
​
51
main {
52
  width: 700px;
53
  margin: auto;
54
}
55
​
56
h1 {
57
  font-size: 50px;
58
  text-align: center;
59
}
60
​
61
.banner-principal {
62
  width: 500px;
63
  margin-top: 50px;
64
  box-shadow: 3px 2px 3px 2px;
65
}
66
​
67
.paragrafos {
68
  border: 1px solid black;
69
  border-radius: 20px;
70
}
71
​
72
p {
73
  text-align: center;
74
  font-weight: bold;
75
  text-transform: uppercase;
76
  padding: 5px;
77
}
78
​
79
h2 {
80
  text-align: center;
81
  font-size: 20px;
82
  font-weight: bold;
83
}
84
​
85
.bandeira {
86
  box-shadow: 1px 2px 1px 2px;
87
  width: 400px;
88
}
89
​
90
.botão {
91
  font-size: 30px;
92
  color: red;
93
  padding: 5px;
94
  border: 2px solid black;
95
  border-radius: 20px;
96
}
97

    border: 3px solid black;
    border-radius: 20px;
}

#banner {
    width: 300px;
}

nav {
    display: inline-block;
    position: absolute;
    top: 100px;
    right: 20px;
}


nav ul li {
    display: inline;
    padding: 5px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    border: 2px solid black;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover {
    transition: 0.5s;
    text-decoration: underline;
    font-size: 20px;
    color: black;
    border: 2px solid black;
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
}

main {
    width: 800px;
    margin: auto;
}

#bandeira {
    width: 100%;
    margin-top: 100px;
}
